.title {
  font-family: 'Abel';
  color: white;
  font-size: 60px;
}

.top{
  margin-top: 50px;
  font-family: 'Abel';
}

.row {
  width: 21%;
  display: inline-block;
  margin-right: 15px;
  background-color: #c9c5c3;
  opacity: 0.8;
}

.row h3{
  font-family: 'Abel';
}

.rows{
  margin-bottom: 25px;
}

.full-table{
  margin-top: 50px;
  color: white;
}

.page{
  margin: left;
  margin-top: 40px;
}
